html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: auto;
  overflow: hidden;
}

#tooltip {
  position: absolute;
  background: #0f1114;
  border-radius: 0.8em;
  margin: 10px;
  padding: 10px;
  -moz-box-shadow: 3px 3px 5px 6px #000000;
  -webkit-box-shadow: 3px 3px 5px 6px #000000;
  box-shadow: 3px 3px 5px 6px #000000;
}

@media only screen and (min-width: 768px) {
  #map {
    height: 100%;
    width: auto;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1080px) {
  #map {
    height: 100%;
    width: auto;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1450px) {
  #map {
    height: 100%;
    width: auto;
    overflow: hidden;
  }
}
